[submodule "projects/Gibbed.IO"]
	path = projects/Gibbed.IO
	url = https://github.com/gibbed/Gibbed.IO.git
[submodule "projects/NDesk.Options"]
	path = projects/NDesk.Options
	url = https://github.com/gibbed/NDesk.Options.git
[submodule "projects/Gibbed.PortableExecutable"]
	path = projects/Gibbed.PortableExecutable
	url = https://github.com/gibbed/Gibbed.PortableExecutable.git
[submodule "configs/schemas/Star Trek Online"]
	path = configs/schemas/Star Trek Online
	url = https://github.com/gibbed/StarTrekOnlineSchemas.git
[submodule "configs/schemas/Neverwinter"]
	path = configs/schemas/Neverwinter
	url = https://github.com/gibbed/NeverwinterSchemas.git
[submodule "configs/schemas/Champions Online"]
	path = configs/schemas/Champions Online
	url = https://github.com/gibbed/ChampionsOnlineSchemas.git
